server:
  port: 9091

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/realnest?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: Aswin3112@
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB
  messages:
    basename: messages
  thymeleaf:
    cache: false

cloudinary:
  cloud-name: your-cloud-name
  api-key: your-api-key
  api-secret: your-api-secret

springdoc:
  swagger-ui:
    path: /swagger-ui.html
